<title>DundeePHP - PHP User Group for Dundee, Angus and Tayside</title>
<meta charset="utf-8" />
<meta name="description" 				content="A PHP user group for the Dundee and Angus area, we meet every month and feature a guest speaker covering PHP and other development related topics.">
<meta property="og:type"				content="website" />
<meta property="og:url"					content="http://www.dundeephp.co.uk" />
<meta property="og:title"				content="DundeePHP User Group" />
<meta property="og:description" 		content="A PHP user group for the Dundee and Angus area, we meet every month and feature a guest speaker covering PHP and other development related topics.">
<meta property="og:image"				content="http://dundeephp.co.uk/images/logosquare.png" />
<meta property="og:image:width" 		content="400" />
<meta property="og:image:height" 		content="400" />
<meta name="msapplication-TileImage"	content="images/logosquare.png"/>
<meta name="msapplication-TileColor"	content="#0E77BD"/>


<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="assets/css/main.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
<link rel="apple-touch-icon-precomposed" href="images/logosquare.png"/>
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">